# NexCommerce Platform - Environment Variables
DB_URL=jdbc:mysql://localhost:3307/microservices
DB_USERNAME=root
DB_PASSWORD=root
OKTA_CLIENT_SECRET=YOUR_SECRET_HERE
OKTA_ISSUER_URI=https://dev-77584981.okta.com/oauth2/default
EUREKA_URL=http://localhost:8761/eureka
CONFIG_SERVER_URL=http://localhost:8085
